<footer class="footer logo-left">
    <div class="footer__before border-top"></div>
        <div class="container">
            <div class="footer__header row grow-logo">
                <div class="col-12 align-space-between align-middle">
                    <a class="is-hover" href="/">
                        <span class="header__css-logo"></span>
                    </a>
                </div>
            </div>
            <div class="footer__content row">
                <div class="col-12 hide-on-desktop">
                    <a class="button is-tertiary is-large" href="/pages/mitglied-werden/index.html">Mitglied Werden</a>
                </div>
                <div class="footer__content-list col-6 col-lg-4">
                    <nav data-name="footer-nav" class="footer-nav is-level-0">
                        <ul class="footer-nav__items no-list-style is-level-0">
                            <li class="footer-nav__item is-level-0">
                                <a class="footer-nav__item-link is-level-0 has-name" href="/pages/kontakt/index.html">Kontakt</a>
                            </li>
                            <li class="footer-nav__item is-level-0">
                                <a class="footer-nav__item-link is-level-0 has-name" href="/pages/impressum/index.html">Impressum</a>
                            </li>
                            <li class="footer-nav__item is-level-0">
                                <a class="footer-nav__item-link is-level-0 has-name" href="/pages/datenschutz/index.html">Datenschutz</a>
                            </li>
                            <li class="footer-nav__item is-level-0">
                                <a class="footer-nav__item-link is-level-0 has-name" href="/pages/magazin/index.html">Magazin</a>
                            </li>
                            <li class="footer-nav__item is-level-0">
                                <a class="footer-nav__item-link is-level-0 has-name" href="/pages/shop/index.html">Shop</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__content-list col-12 col-md-6 col-lg-4">
                    <nav data-name="footer-nav" class="footer-nav socials  is-level-0">
                        <ul class="footer-nav__items no-list-style is-level-0">
                            <li class="footer-nav__item is-level-0 has-name">
                                <a href="https://www.facebook.com/Wirtschaftsjunioren" target="_blank" class="footer-nav__item-link is-level-0 has-name is-social-icon" rel="noopener noreferrer">
                                    <i class="footer-nav__icon fab fa-facebook-square" aria-hidden="true"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-nav__item is-level-0 has-name">
                                <a href="https://twitter.com/WJDeutschland" target="_blank" class="footer-nav__item-link is-level-0 has-name is-social-icon" rel="noopener noreferrer">
                                    <i class="footer-nav__icon fab fa-twitter-square" aria-hidden="true"></i>
                                    Twitter
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="row">
                        <div class="footer__content-list col-12 hide-on-mobile">
                            <aside>
                                <span class="footer__content-title">Interesse geweckt?</span>
                                <a class="button is-tertiary is-large" href="/pages/mitglied-werden/index.html">Mitglied werden</a>
                                <span class="footer__content-title">Partner</span>
                                <p>
                                    <img src="/upload/dihk-logo.png" alt="dihk-logo" width="460" />
                                </p>
                                <p>
                                    <img src="/upload/jci_logo.png" alt="" width="145" height="48" />
                                </p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__after"></div>
</footer>
<script type='text/javascript' src='/js/jquery-3.4.1.min.js'></script>
<script type='text/javascript' src='/js/swiper.min.js'></script>
<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/js/script.min.js'></script>
</body>

</html>