{% include "./layout/header.html" %}
    <main>
        <div class="v-hero hero has-max-width mb-xxl">
            <div class="hero-swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/upload/wjd-wirtschaftsjunioren-junge-wirtschaft_0.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/upload/wjd-junge-wirtschaft-know-how-transfer_0.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/upload/wjd-junge-wirtschaft-florian-glossner-wolf-goertz_0.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="hero__box is-highlighted">
                <h1 class="hero__headline">Die junge Wirtschaft</h1>
                <h3 class="hero__subheadline">Wirtschaft, die mehr schafft</h3>
                <ul class="hero__pagination no-list-style">
                </ul>
            </div>
        </div>
        <div class="headline-section">
            <div class="headline-section__content text-center container">
                <h2 class="headline-section__headline is-highlighted">Neues aus den Kreisen</h2>
            </div>
        </div>
        <div class="section">
            <div class="section__content container text-left">
                <div class="card v-card has-credit has-cta has-image has-link">
                    <div class="card__image-wrapper">
                        <figure class="figure">
                            <div class="figure__image-wrapper is-highlighted">
                                <div class="figure__image">
                                    <img src="/upload/wjd-wirtschaftsjunioren-sebastian-doeberl-bundesvorsitzender-2020.jpg"
                                        alt="">
                                </div>
                            </div>
                        </figure>
                        <div class="card__image-credit" title="© WJD/Markus Quabach">© WJD/Markus Quabach</div>
                    </div>
                    <div class="card__content">
                        <ul class="card__meta-data no-list-style">
                            <li class="card__meta-data-item is-date">03.01.2020</li>
                            <li class="card__meta-data-item is-text">Pressemitteilungen</li>
                        </ul>
                        <div class="card__main">
                            <h3 class="card__headline">Sebastian Döberl neuer Bundesvorsitzender der Wirtschaftsjunioren
                            </h3>
                            <div class="rte-content v-margin-collapse">
                                <p>Der Bayreuther Sebastian Döberl ist seit Beginn des Jahres Bundesvorsitzender der
                                    Wirtschaftsjunioren Deutschland: „Ich freue mich sehr auf die Aufgabe und blicke
                                    voller Tatkraft auf das Jahr. Gerade angesichts der abkühlenden Konjunktur müssen
                                    wir jungen Unternehmer und Führungskräfte alles dafür tun, damit Deutschland ein
                                    zukunftsfähiger Wirtschaftsstandort bleibt.“</p>
                            </div>
                        </div>
                        <div class="card__footer">
                            <a href="" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 col-lg-8">
                        <div class="card v-card has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-start-up-your-future-gruneder-paten_0.jpeg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© WJD/Gerhard Leber">© WJD/Gerhard Leber</div>
                            </div>
                            <div class="card__content">
                                <ul class="card__meta-data no-list-style">
                                    <li class="card__meta-data-item is-date">27.11.2019</li>
                                    <li class="card__meta-data-item is-text">Pressemitteilungen</li>
                                </ul>
                                <div class="card__main">
                                    <h3 class="card__headline">&quot;Start-Up Your Future&quot; gewinnt Europäischen
                                        Unternehmensförderpreis</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Das Projekt "Start-Up Your Future" der Wirtschaftsjunioren Deutschland hat
                                            den Europäischen Unternehmensförderpreis der Europäischen Kommission
                                            gewonnen. Das Pilotprojekt unterstützt Geflüchtete auf dem Weg zum eigenen
                                            Unternehmen. Dabei stehen den angehenden Gründerinnen und Gründern
                                            ehrenamtliche Mentoren mit ihrer Expertise zur Seite. Die Preisverleihung
                                            fand am 26.11. in Helsinki im Rahmen der Europäischen Woche für kleine und
                                            mittlere Unternehmen statt.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="card v-card event-widget">
                            <div class="card__content">
                                <h3 class="card__headline">Nächste Veranstaltungen</h3>
                                <div class="card__main">
                                    <div class="event__item">
                                        <span class="is-date">XX.XX.XXXX</span>
                                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                                        <a href="" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                            <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="event__item">
                                        <span class="is-date">XX.XX.XXXX</span>
                                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                                        <a href="" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                            <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="event__item">
                                        <span class="is-date">XX.XX.XXXX</span>
                                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                                        <a href="" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                            <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="card v-card has-cta has-no-image has-link"
                            data-url="https://twitter.com/WJDeutschland">
                            <div class="card__content">
                                <ul class="card__meta-data no-list-style">
                                    <li class="card__meta-data-item is-date">16.01.2020</li>
                                    <li class="card__meta-data-item is-text">Twitter</li>
                                </ul>
                                <div class="card__main">
                                    <div class="rte-content v-margin-collapse">
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/NewWork?src=hash">#NewWork</a> heißt auch
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/NewLeadership?src=hash">#NewLeadership</a>:
                                        <a class="user-mentions" title=mentionned user
                                            href="https://twitter.com/faznet">@faznet</a> hat uns bei unserer
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/NewWork?src=hash">#NewWork</a> Week im
                                        letzten November begleitet und mit
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/Wirtschaftsjunioren?src=hash">#Wirtschaftsjunioren</a>
                                        über neue Führungsmodelle gesprochen.
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/JungeWirtschaft?src=hash">#JungeWirtschaft</a>
                                        <a class="hashtag" title="hashtag"
                                            href="https://twitter.com/hashtag/WJNewWork?src=hash">#WJNewWork</a>
                                        <a class="tweet-url" title="link tweet"
                                            href="https://t.co/D2ftvDDK0F">https://t.co/D2ftvDDK0F</a>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="https://twitter.com/WJDeutschland" ref="cta" class="card__cta is-link"
                                        target="_blank">twitter.com/WJDeutschland
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="button is-unbreakable is-tertiary-solid" href="/aktuelles">
                        <span class="button__text">Alle News</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="section is-funky">
            <div class="section__content container text-left">
                <div class="headline-section">
                    <div class="headline-section__content text-center container is-inverted is-transparent">
                        <h3 class="headline-section__headline">Das denkt die junge Wirtschaft</h3>
                    </div>
                </div>
                <div class="card  has-no-meta is-inverted is-transparent has-image has-no-footer">
                    <div class="card__image-wrapper">
                        <figure class="figure">
                            <div class="figure__image-wrapper is-highlighted">
                                <div class="figure__image">
                                    <img src="/upload/grafik-startseite_3.png" alt="">
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="card__content is-inverted">
                        <div class="card__main">
                            <div class="rte-content v-margin-collapse">
                                <p>95 Prozent unserer Mitglieder finden, dass die unternehmerische Tätigkeit einen
                                    gesellschaftlichen Mehrwert erzeugen sollte.</p>
                                <p><em>Quelle: Mitgliederbefragung 2018</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headline-section">
            <div class="headline-section__content text-center container">
                <h2 class="headline-section__headline is-highlighted">Unsere Positionen</h2>
            </div>
        </div>
        <div class="section">
            <div class="section__content container text-left">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-unternehmertum.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© Shutterstock">© Shutterstock</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Unternehmertum</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Wir stehen für ein positives Unternehmerbild und wünschen uns, dass mehr
                                            Menschen den Schritt in die Selbstständigkeit wagen. Dazu müssen Gründer bei
                                            Regulierung und Steuern entlastet werden.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/unternehmertum" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-wettbewerbsfaehigkeit.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© Shutterstock">© Shutterstock</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Wettbewerbsfähigkeit</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Deutsche Unternehmen stehen im globalen Wettbewerb. Wir brauchen politische
                                            Rahmenbedingungen, die Unternehmen genügend Freiraum für Innovationen
                                            lassen.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/wettbewerbsfaehigkeit" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-digitalisierung-getty_0.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© GettyImages">© GettyImages</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Digitalisierung</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Die Digitalisierung entscheidet über die Zukunftsfähigkeit Deutschlands. Wir
                                            fordern deshalb mehr Anstrengungen beim Ausbau der digitalen Infrastruktur
                                            und in die digitale Bildung.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/digitalisierung" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-europa-und-die-welt_0.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© GettyImages">© GettyImages</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Europa und die Welt</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Als junge Wirtschaft wünschen wir uns mehr Europa. International setzen wir
                                            uns für offene Märkte, Freihandel und internationale Verständigung ein.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/europa-und-die-welt" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/26_arbeitsmarkt_gettyimages-1028772240.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© GettyImages">© GettyImages</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Arbeitsmarkt</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Nur eine starke Wirtschaft sichert auch in Zukunft Beschäftigung und
                                            Wohlstand in unserem Land. Zu viele staatliche Eingriffe in den Arbeitsmarkt
                                            lehnen wir ab.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/arbeitsmarkt" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/28_beruf-und-familie_gettyimages-475375106.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© GettyImages">© GettyImages</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Beruf und Familie</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Wir stehen als junge Wirtschaft für die Vereinbarkeit von Beruf und Familie.
                                            Dazu brauchen wir eine gute Infrastruktur und eine Arbeitswelt, die von
                                            Flexibilität, Eigeninitiative und Vertrauen geprägt ist.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/beruf-und-familie" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-faire-bildungschancen_0.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© Shutterstock">© Shutterstock</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Faire Bildungschancen</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Wir wollen, dass jeder unabhängig von seiner Herkunft Zugang zu guter Bildung
                                            hat. In Deutschland ist das Elternhaus zu oft ausschlaggebend für den
                                            Bildungserfolg der Kinder.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/faire-bildungschancen" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card  v-card has-no-meta is-vertical has-credit has-cta has-image has-link">
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="/upload/wjd-generationengerechtigkeit.jpg" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit" title="© Shutterstock">© Shutterstock</div>
                            </div>
                            <div class="card__content">
                                <div class="card__main">
                                    <h3 class="card__headline">Generationengerechtigkeit</h3>
                                    <div class="rte-content v-margin-collapse">
                                        <p>Generationengerechtigkeit ist ein wichtiger Nachhaltigkeitsfaktor. Wir
                                            fordern deshalb einen verbindlichen Demografie-Check für neue Gesetze.</p>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <a href="/positionen/generationengerechtigkeit" ref="cta" class="card__cta is-link"
                                        target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% include "./layout/footer.html" %}