.event-date__date {
    font-weight: bold;
    &:not(.is-same-day)::after {
        content: ', ';
        display: inline-block;
    }
}
.event-date__item:first-child .event-date__time:not(.is-same-day)::after {
    content: '–';
    display: inline-block;
    margin-left: .4em;
}
.filter-section {
    .event-overview-header {
        @media (max-width: $break-md) {
            padding-bottom: 10px;
        }
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
        &.list {
            .view-modes {
                padding-left: 0;
                width: 80%;
            }
        }
    }
    .week-nav,
    .month-nav {
        float: left;
        margin-bottom: 30px;
        position: relative;
        width: 30%;
        @media (max-width: $break-md) {
            margin-bottom: 10px;
        }
        @media (max-width: $break-sm) {
            display: table;
            float: none;
            margin: 0 auto 10px;
            white-space: nowrap;
            width: auto;
        }
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 40%;
        }
    }
    .current-week {
        cursor: pointer;
    }
    .current-week,
    .current-month {
        @include current-item;
        @media(max-width: $break-md) {
            margin-right: 0;
            width: auto;
        }
    }
    .prev-week,
    .prev-month {
        @include previous-item;
        @media (max-width: $break-sm) {
            left: -20px;
        }
    }
    .next-week,
    .next-month {
        @include next-item;
        @media (max-width: $break-sm) {
            right: -20px;
        }
    }
    .next-week,
    .next-month,
    .prev-week,
    .prev-month {
        @media(max-width: $break-md) {
            height: auto;
            width: auto;
            &:before {
                position: relative;
                top: 7px;
            }
        }
        @media (max-width: $break-sm) {
            position: absolute;
        }
    }
    .view-modes {
        box-sizing: border-box;
        float: left;
        padding-left: 38px;
        width: 50%;
        @media(max-width: $break-md) {
            padding: 10px 0;
            width: 80%;
            &:after {
                clear: both;
                content: ' ';
                display: block;
            }
        }
        .active {
            border-color: $accent-tertiary !important;
            color: $accent-tertiary !important;
            cursor: default;
            pointer-events: none;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 40%;
        }
    }
    .event-filter-toggle {
        @include clearfix();

        float: left;
        width: 20%;
        @media (max-width: $break-md) {
            float: right;
            padding: 10px 0;
        }
        .button {
            float: right;
            height: 54px;
            padding: 0;
            position: relative;
            width: 54px;
            @media (max-width: $break-md) {
                height: 47px;
                width: 47px;
            }
            @media (max-width: $break-sm) {
                height: 40px;
                width: 40px;
            }
            @media (max-width: 380px) {
                > span {
                    display: none;
                }
            }
            &::after {
                content: '\f0b0';
                display: block;
                font-family: $font-awesome;
                font-size: 20px;
                height: 20px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: none;
                width: 20px;
            }
        }
    }
    .event-overview-week {
        @include clearfix();

        margin-top: 16px;
        position: relative;
        @media (max-width: $break-md) {
            margin-top: 0;
        }
        &:before {
            background-color: $faint;
            content: ' ';
            display: block;
            height: 120px;
            left: 50%;
            margin-left: -2560px;
            opacity: .5;
            position: absolute;
            top: -16px;
            width: 5120px;
            z-index: -1;
            @media (max-width: $break-md) {
                top: -6px;
            }
        }
        .weekdays {
            background: $background;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,.14);
            height: 190px;
            @media (max-width: $break-md) {
                height: 120px;
                padding: 0 10px;
            }
            &:after {
                clear: both;
                content: ' ';
                display: block;
            }
            &.prev {
                display: none;
            }
            &.next {
                display: none;
            }
            .weekday {
                float: left;
                width: 14.2857%;
                @media (max-width: $break-md) {
                    height: 92px;
                }
                h4 {
                    color: $accent;
                    font-family: $font-main;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 23px;
                    padding-top: 11px;
                    text-align: center;
                    @media (max-width: $break-md) {
                        font-size: 14px;
                        padding-top: 0;
                    }
                }
                p {
                    margin-left: auto;
                    margin-right: auto;
                    width: 45px;
                    @media (max-width: $break-md) {
                        width: 30px;
                    }
                    &,
                    a {
                        color: $color-dark;
                        font-family: $font-main;
                        font-size: 36px;
                        line-height: 43px;
                        text-align: center;
                        @media (max-width: $break-md) {
                            font-size: 22px;
                            line-height: 28px;
                        }
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                    &.current {
                        &,
                        a {
                            color: $accent;
                        }
                    }
                    &.has-event {
                        border-bottom: 4px solid $accent;
                        padding-bottom: 11px;
                        @media (max-width: $break-md) {
                            border-bottom-width: 3px;
                            padding-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
    .event-overview-month {
        padding: 16px 0 23px 0;
        position: relative;
        .event-overview-month-inner {
            background: $item-background;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            @media (max-width: $break-md) {
                padding: 0;
            }
        }
        table {
            width: 100%;
            @media (max-width: $break-md) {
                td,
                th {
                    max-width: 40px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            th {
                border-bottom: 5px solid $accent-secondary;
                color: $accent;
                font-family: $font-main;
                font-size: 18px;
                font-weight: bold;
                line-height: 23px;
                padding: 15px 0 10px;
                position: relative;
                text-align: center;
                width: 14.2857%;
                @media (max-width: $break-md) {
                    overflow: hidden;
                    &:before {
                        background: $background;
                        content: attr(data-mobile);
                        display: block;
                        font-size: 15px;
                        height: 100%;
                        left: 0;
                        padding-top: 11px;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 2;
                    }
                }
            }
            tbody tr td {
                border-bottom: 5px solid $color-light;
                padding-top: 10px;
            }
            td {
                height: 165px;
                position: relative;
                vertical-align: top;
                @media (max-width: $break-md) {
                    height: 90px;
                    padding: 10px 5px;
                }
                &.out-of-month {
                    span {
                        color: $meta;
                    }
                }
                &.current {
                    span {
                        color: $accent;
                        font-weight: 700;
                    }
                }
                span {
                    color: $color-dark;
                    font-family: $font-main;
                    font-size: 18px;
                    line-height: 18px;
                    @media (max-width: $break-md) {
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
                > div {
                    background: $accent;
                    border-radius: 4px;
                    height: 35px;
                    left: 0;
                    position: absolute;
                    top: 36px;
                    width: 96%;
                    z-index: 5;
                    @media (max-width: $break-md) {
                        height: 33px;
                        position: static;
                        width: auto;
                    }
                    &.highlight {
                        background: $accent-tertiary;
                    }
                    &.slot-2 {
                        top: 76px;
                    }
                    &.slot-3 {
                        top: 116px;
                    }
                    &.slot-4 {
                        top: 156px;
                    }
                    &.days-2 {
                        width: 196%;
                        @media (max-width: $break-md) {
                            width: 239%;
                        }
                    }
                    &.days-3 {
                        width: 296%;
                        @media (max-width: $break-md) {
                            width: 374%;
                        }
                    }
                    &.days-4 {
                        width: 396%;
                    }
                    a {
                        box-sizing: border-box;
                        color: $color-light;
                        display: block;
                        font-family: $font-main;
                        font-size: 12px;
                        height: 100%;
                        line-height: 14px;
                        overflow: hidden;
                        padding: 10px 0 0 11px;
                        position: relative;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @media (max-width: $break-md) {
                            font-size: 10px;
                            padding: 3px;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
}
